.cvcontent {
  position: absolute;
  top: 32%;
  width: 632px;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 240px;
}

@media (max-width: 696px) {
  .cvcontent {
    padding: 0 32px 0 32px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .list-section {
  width: 50%;
  margin-top: 48px;
}
}

@media (max-width: 860px) {
  .image-L img {
  width: 100%;
}
}

@media (max-width: 428px) {
  .cvcontent {
    padding: 0 24px 0 24px;
    width: 100%;
    box-sizing: border-box;
  }
}





.image-tile-L {
  width: 48px;
  height: 48px;
  float: left;
  margin-right: 16px;
}

.image-title img {
  max-height: 100%;
}

.image-tile-S {
  width: 32px;
  height: 32px;
  float: left;
  margin-right: 16px;
}

.image-title {
  display: flex;
  align-items: center;
}

.exam-results h4, p {
  display: inline;
}

@media (min-width: 861px) {

.image-L img {
  width: 113%;
  transform: translate(-13%, 0);
}
}


.lists-flexbox {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (min-width: 697px) {

.list-section {
  width: 33.3%;
  margin-top: 48px;
}
}


