.cvcontent {
  position: absolute;
  top: 32%;
  width: 40%;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  padding-bottom: 240px;
}

@media (max-width: 899px) {
  .cvcontent {
    padding: 0 24px 0 24px;
    width: 100%;
  }
}

.image-tile-L {
  width: 48px;
  height: 48px;
  float: left;
  margin-right: 16px;
}

.image-title img {
  max-height: 100%;
}

.image-tile-S {
  width: 32px;
  height: 32px;
  float: left;
  margin-right: 16px;
}

.image-title {
  display: flex;
  align-items: center;
}

.exam-results h4, p {
  display: inline;
}

.image-L {
  width: 113%;
  box-sizing: border-box;
  transform: translate(-13%, 0);
}

.image-L img {
  max-height: 100%;
  max-width: 100%;
}


.lists-flexbox {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.list-section {
  width: 33.3%;
  margin-top: 48px;
}


